<div class="container">
  <div class="row">
    <div class="offset-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center"><%= t('users.actions.new') %></h1>
          <%= render 'form' %>
          <p><%= t('registrations.form.has_account') %>
          <%= link_to t('sessions.form.sign_in'), login_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
