// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hint-text a {
  font-size: 10px;
  color: grey;
  padding-left:5px;
}

.pagination a {
  color: black;
}

.weather-card {
  color: black
}
