<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><%= t('locations.following.header') %></h1>
      <% @locations.each do |location| %>
        <div class="col-md-6">
          <div class="card weather-card">
            <div class="card-body">
              <h3 class="text-center"><%= location.name %></h1>
              <% if location.weather.status %>
                <%= render 'current_weather', location: location %>
              <% else %>
                <p><%= location.weather.message %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
